
/* -------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------- */

:root {
    --heading-color: #333;
    --text-color: #808080;
    --soft-green: #93c02c;
}

body {
    font-size: 16px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    background: url(/img/Fondo_Ingreso.png) no-repeat center center;  
    background-size: cover;
}

#main-container {
    display: grid;
    justify-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 6em auto 5em;
    min-height: 100vh;
}

.main-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.main-header img {
    /* width: 8.5em; */
    height: 4.4625em;
}

#main-content {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
}

/* -------------------------------------------------- */
/* NAVIGATION */
/* -------------------------------------------------- */

.ordinary-nav {    
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 11em;
}

.main-nav {    
    width: 11em;
    height: 28em;
    font-size: 1.2em;
    list-style: none;
    background: #83b34c;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin-top: 0;
    box-sizing: border-box;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.main-nav li {
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.main-nav li:first-child {
    font-size: 1.5em;
}

/* .main-nav li:last-child {
    border: none;
} */

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;    
    -webkit-transition: border-bottom 0.2s;    
    transition: border-bottom 0.2s;
    text-decoration: none;
}

.main-nav li a:hover, 
.main-nav li a:active {
    /* padding-bottom: 0.28em; /*5px
    border-bottom: 0.12em solid #fff; px*/
    text-decoration: underline;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline-block;
    /* font-size: 1.8em;          */
}

.social-links li a:link,
.social-links li a:visited {
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.social-links li img {
    width: 5em;
}

.social-links ion-icon[name="logo-facebook"]:hover,
.social-links ion-icon[name="logo-facebook"]:active {
    color: #3b5998;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.social-links ion-icon[name="logo-twitter"]:hover,
.social-links ion-icon[name="logo-twitter"]:active {
    color: #00aced;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.social-links li ion-icon {
    padding-top: 0.28em;
}

#social-hide {
    opacity: 1;
}

/* -------------------------------------------------- */
/* HEADINGS */
/* -------------------------------------------------- */

h1,
h3 {            
    font-weight: 400;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    /* font-size: 2.1em; */
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.8em;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    color: #333;
}

h3 {
    /* font-size: 1.1em; */
    font-weight: 400
}

/* -------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------------- */

.row {
    width: 90%;
    margin: 0 auto;
/*    border: solid #0f0;*/
}

.row-mobile {
    width: 80%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.soft-green {
    color: var(--soft-green);
}

/*************** MOBILE NAVIGATION *******************/

.mobile-nav {
    width: 100%;    
    background: #12384A;
}

.mobile-nav-icon {
    cursor: pointer;  
}

.mobile-nav-icon i{
    padding-top: 0.28em;
    /* font-size: 1.5em; */
    color: #12384A;
}

#menu {
    display: inline-block;
}

#menu p {
    color: #12384A;
    font-weight: 400;
    /* font-size: 1em; */
}

#social-mob-container {
    width: 100%;
    padding: 1.1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#social-mob-subcontainer {
    width: 6em;
}

.social-links-mob{
    text-align: center;
}

.social-links-mob li {
    display: inline-block;
    /* font-size: 1.8em;      */
    padding: 0 0.28em;
    list-style: none;
    padding-left: 0.28em;
}

.social-links-mob li a:link,
.social-links-mob li a:visited {
    color: #fff;    
}

.social-links-mob li a:active,
.social-links-mob li a:hover {
    color: #fff;    
}

.menu-mob-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wrapper-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0  1.1em;
    margin-bottom: 1em;
    background: #fff;    
    width: 70%;
}

.text-mob-nav { 
    float: left; 
    list-style: none;
    width: 70%;
    background: #12384A;
    display: none;
    padding-left: 4em;
    padding-bottom: 1em;
}

.text-mob-nav li {
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0.28em 0;
}

.text-mob-nav li a:link,
.text-mob-nav li a:visited {
    color: #fff;
    border: 0;
}


/* -------------------------------------------------- */
/* LOGOS */
/* -------------------------------------------------- */

#uis-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/* -------------------------------------------------- */
/* SECTION LOGIN */
/* -------------------------------------------------- */

.section-login {
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    color: #fff;
    padding: 0 1.2em;
    width: 22em;
    height: auto;
    border-radius: 70px;    
    transition: 1s;
    /* centrado horizontal */
    margin: 0 auto;
}

.section-login h2,
.section-form h2 {
    text-transform: uppercase;
    margin-bottom: 0;
}

#section-login ul {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
}

.section-login li {
    list-style: none;
    font-weight: 400;
    padding: 0.8em;
}

.login-options {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.login-options img {
    margin: 0.28em 0.55em;
    cursor: pointer;
}

.login-options h3 {
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0;
}

#pregrado-img {
    width: 3.3125em;
    height: 2.75em;
}

#posgrado-img {
    width: 3.8125em;
    height: 2.4375em;
}

#ipred-img {
    width: 3.6875em;
    height: 3.125em;
}

#lenguas-img {
    width: 3.9375em;
    height: 3.4375em;
}

#select {
    margin-top: -1.5em;
    padding-bottom: 1em;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    /* font-size: 1em; */
}

#select h3 {
    color: #93c02c;
    font-weight: 600;
    font-size: 1.2em;
}

#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    position: relative;
}


/* -------------------------------------------------- */
/* SECTION FORM */
/* -------------------------------------------------- */

.section-form {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    padding: 0 1.2em;
    width: 21em;
    height: 30em;
    border-radius: 70px;   
    transition: 1s;
    /* centrado horizontal */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.form-container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 20px;
    color: var(--text-color);
}

.form-container h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
}

.form-container h3 {
    font-size: 1.8em;
}

.form-container label {
    font-size: 1.4em;
}

#back {
    display: flex;  
    -webkit-box-pack: end;  
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

#back p, 
#back img {
    cursor: pointer;
}

#back p {
    font-weight: 600;
    margin-right: 5px;
    font-size: 1.4em;
}

input[type=text],
input[type=password],
select {
    width: 100%;
    padding: 0.39em;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: solid 1px #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 0.55em 1.1em;
    background-color: #93c02c;
    font-weight: bold;
    border: solid 1px #93c02c;
    margin-top: 0.28em;
    text-decoration: none;    
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    /* font-size: 0.8em; */
    text-transform: uppercase; 
    float: right;
    width: auto;
    color: #fff;    
}

form label {
    font-weight: 400;
}

*:focus {
    border: none;
}

/* -------------------------------------------------- */
/* SECTION INSTRUCTIONS */
/* -------------------------------------------------- */

.instructions-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.section-instructions {
    background: rgba(255, 255, 255, 0.9);
    color: var(--text-color);
    text-align: center;
    padding: 0.75em 0.75em 1em 0.75em;
    border-radius: 40px;
    align-self: center;
    transition: 1s;    
}

.section-instructions h2 {
    font-size: 1.6em;
    font-weight: bold;
}

#instrucciones-generales p:first-child, p:nth-child(4),
#instrucciones-posgrado p:first-child,
#instrucciones-ingles p:first-child
 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--heading-color);
}

#instrucciones-generales p:nth-child(2), p:nth-child(5),
#instrucciones-posgrado p:nth-child(2),
#instrucciones-ingles p:nth-child(2)  {
    margin-top: 0;
    margin-bottom: 5px;
}


#instrucciones-generales a {
    color: var(--text-color);
}

.instrucciones-generales, .instrucciones-posgrado, .instrucciones-ingles {
    -webkit-transition: 1s;
    transition: 1s;
}

#instrucciones-posgrado span,
#instrucciones-ingles span {    
    font-weight: bold;
}

#instrucciones-posgrado span:first-child,
#instrucciones-ingles span:first-child {
    font-size: 1.2em;
}

#instrucciones-posgrado span:last-child,
#instrucciones-ingles span:last-child {
    font-size: 1.6em;
}

/* .col {
   border: solid;
} */

/* -------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------- */

footer {
    background-color: #fff;
    color: var(--text-color);    
    padding: 1em;
    width: 100%;   
    display: flex;
    /* font-size: 0.8em; */
    font-weight: 400;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: space-between;
    text-align: center;
    /* margin-top: 1.65em; */
    box-sizing: border-box;
    /* GRID */
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

footer img {
    height: 3em;
}

footer p {
    text-align: center;
    flex-grow: 1;
}




/* -------------------------------------------------- */
/* SPECIAL CLASS */
/* -------------------------------------------------- */

.active{	
    visibility: visible;
	filter: opacity(1);
	transform: scale(1);    
}

.inactive{
	filter: opacity(0);
	transform: scale(0);
    visibility: hidden;
}


